* {
    background-color: lightgrey;
    opacity: unset;
}

h1 {
    text-align: center;
    font-family: monospace;
    color: lightslategrey;
}

h2 {
    text-align: center;
    color: white;
}

p {
    text-align: center;
    color: black;
    font-size: large;
}

.images {
    display: flex;
    justify-content: space-around;
}
